html {
	display: flex;
	flex-direction: column;

	align-content: center;
	align-items: center;
}
.start-page {
	display: flex;
	flex-direction: column;

// height: 500px;
	// width: 800px;

	align-content: center;
	align-items: center;
}
.toDoListItem {
	border: 1px solid black;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	margin: 0 0 40px 0;
	padding: 3px;

// width: 800px;

	align-content: center;
	align-items: center;
}
.input {
	width: 500px;
}
.button {
	margin-left: 3px;
	margin-right: 3px;
	width: 150px;
}

.toDoList {
	display: flex;
	flex-direction: column;

	align-content: center;
	align-items: center;
}
.toDoList__header {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	align-content: center;
	align-items: center;
}
.toDoListItemWrapper {
	max-width: 500px;
}
.toDoListItem__content {
	max-width: 450px;
	word-wrap: break-word;
}

.strikeThrough {
	text-decoration-line: line-through;
}
